build/
build-cjs/
coverage/
node_modules/
tmp/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
cc-test-reporter
lerna-debug.log*
master-build-firefox.zip
master-build.zip
master-src.zip
npm-debug.log*
tsconfig.*buildinfo
yarn-debug.log*
yarn-error.log*
package-lock.json
_book
docs/html
.idea
/yarn.lock
test.ts